.hero{
	background: url(../img/bg/background-hero-320.svg) no-repeat;
	background-position: center -130px;
	background-size: auto 350px;
	width: 100%;
	z-index: 1;

    .container{
        position: relative;
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
        align-items: center;    
        justify-content: center;

	img{ 
		padding: 80px 0 24px 0;
        margin: 0 auto;
    }

    > div{
        h1{
            max-width: 220px;
            margin: 0px auto 16px auto;
            text-align: center;
        }

        p{
            max-width: 340px;
        }
    }

    .scroll-interaction{
        height: 36px;
        display: flex;
        align-items: center;

        .mouse-scroll{
            height: 36px;
            width: 26px;
            border-radius: 30px;
            border: 4px solid $verde;
            position: relative;
            margin: 36px auto 0 auto;

            &::after{
                content: '';
                display: block;
                position: absolute;
                top: 4px;
                left: 50%;
                transform: translateX(-50%);
                height: 8px;
                width: 6px;
                border-radius: 10px;
                background: $verde;
                animation: mouse 1s infinite;
            }
        }

        p{ display: none;}
    }

}

}

.features{
    margin-top: 90px;
    display: flex;
    flex-flow: column;
    align-items: center;
    
    .item{
        margin-top: 32px;

        img{
            max-width: 100px;
            margin: 0 auto;
        }

        h3{ margin: 16px auto;}

        p{ max-width: 200px; }
    }

}

.oportunidade{
    margin-top: 90px;
    display: flex;
    flex-flow: column;
    align-items: center;

    img{margin-bottom: 32px;}
    h2{margin-bottom: 24px;}
}

.viagens{
    position: relative;
    margin-top: 90px;
    padding: 0px 20px 72px 20px;
    background: $azul;
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 30px;
    overflow: hidden;

    img{ 
        position: absolute;
        max-width: 100vw;
        width: 100%;
        object-fit: cover;
        object-position: bottom center;
        height: 240px;
    }

    h2{ color: $verde;  margin: 240px auto 16px auto;}
    p{ color: $branco;}
}


@media only screen and (min-width: 768px){
.hero{
    height: 736px;
    width: 100%;
    background: url(../img/bg/background-hero-768-960.svg) no-repeat;
    background-position: 120% 0;
    background-size: 440px auto;
    
    .container{
        padding-top: 120px;
        position: relative;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        img{ 
            padding-top: 60px;
            margin: 0;
            width: calc(50% - 12px);
            max-width: 800px;
            order: 2;
        }
    
        > div{
            order: 1;
            width: calc(50% - 12px);
            h1{
                text-align: left;
                max-width: 220px;
                margin: 0 0 16px 0;
            }

            p{font-size: 18px; text-align: left;}

            .cta{ margin-left: 0; margin-right: 0;}
        }

        .scroll-interaction{
            order: 3;
            margin-top: 60px;
    
            .mouse-scroll{
                margin: 0;
                flex-grow: 100%;
            }

            p{
                display: flex;
                align-items: center;
                &:before{
                    content: '';
                    height: 2px;
                    width: 30px;
                    background: $azul;
                    display: block;
                    margin: 0 8px;
                }
            }
        }
    }
}


.features{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    
    .item{
        margin-top: 32px;
        
        > *{ text-align: center;}

        img{
            max-width: 120px;
        }

        h3{ margin: 36px auto 24px auto;}

        p{ max-width: 200px; }
    }
}


.oportunidade{
    margin-top: 160px;
    img{margin-bottom: 56px;}
    h2{margin-bottom: 36px;}
}

.viagens{
    img{ height: 360px;}
    h2{ margin-top: 320px;}
}


}



@media only screen and (min-width: 960px){
    
    .hero{
        height: 736px;
        width: 100%;
        background: url(../img/bg/background-hero-768-960.svg) no-repeat;
        background-position: 100% 0;
        background-size: auto 736px;
    
        .container{
            padding-top: 120px;
        }
    }


    .features{
        .item{
            p{ max-width: 220px; }
        }
    }
    

    .oportunidade{
        flex-flow: row;
        justify-content: space-between;

        img{ order: 2; margin: 0;  max-width: calc(50% - 32px);}
    
        > div{
            order: 1;
            max-width: calc(50% - 32px);
            h2, p{ text-align: left;}
        }
    }

    .viagens{
        max-width: calc(100% - 64px);
        box-sizing: border-box;
        margin: 160px auto 0 auto;
        padding: 0px 0px;
        background: $azul;
        flex-flow: row;
        align-items: flex-start;
    
        img{ 
            position: relative;
            height: 100%;
            object-fit: cover;
            max-width: calc(50% - 12px);
            transform: rotate3d(-180deg);
            margin-right: 48px;
        }

        > div{
            padding: 72px 0;
            max-width: calc(50% - 140px);
            h2{margin-bottom: 36px; margin-top: 0;}
            h2, p{ text-align: left;}
        }
    
    }
    


}



@media only screen and (min-width: 1200px){

    .hero .container > div p { font-size: 24px; max-width: 400px;}

}


@media only screen and (min-width: 1440px){

    .hero{
        height: 900px;
        background: url(../img/bg/background-hero-1440.svg) no-repeat;
        background-position: right 0;
        background-size: 50% auto;

        .container{
            padding-top: 120px;
        }
    }

    .viagens{
        margin-bottom: 140px;
        height: 550px;
        align-items: center;
        max-width: calc(100% - 160px);


        img{ width: 50%; object-position: center; margin-right: 72px;}
    }

}

@media only screen and (min-width: 1600px){

    .hero{
        height: 1080px;
        background: url(../img/bg/background-hero-1600.svg) no-repeat;
        background-position: right 0;
        background-size: auto 100%;
    
        .container{
            padding-top: 120px;
        }
    }

    .features{
        
        .item{
            display: flex;
            align-items: center;
            margin-top: 0px;
    
            img{
                max-width: 180px;
                margin: 0 36px 0 0;
            }

            > div {
                h3, p{text-align: left;}
                h3{ margin-top: 0;}
                p{max-width: 240px;}
            }
    
        }
    
    }


    .viagens{

        justify-content: space-between;
        > div{
            padding: 72px 0;
            max-width: calc(50%);
            padding-right: 120px;
        }
    }


}





